.layout-container {
  display: flex;
  width: 100%; 
  height: 100vh; 
  box-sizing: border-box;
  padding-top: 65px; 
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  padding: 2rem; 
  box-sizing: border-box;
  transition: padding 0.2s ease;
}

.layout-content.no-padding {
  padding: 0;
}