<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a routerLink="/">Tournify</a>
    </div>

    <div class="navbar-center">
      <div class="navbar-menu">
        <a routerLink="/tournaments/list" class="nav-link">Torneos</a>
        <a routerLink="/" class="nav-link">Acerca de nosotros</a>
        <a routerLink="/" class="nav-link">Noticias</a>
        <a href="https://discord.com" target="_blank" class="nav-link discord-link">Discord</a>
      </div>
    </div>

    <div class="navbar-actions">
      <div *ngIf="usuarioActual$ | async as user; else loggedOut" class="profile-menu">
        
        <img src="assets/images/Avatar.png" alt="Avatar" class="profile-avatar" />
        <span class="profile-name">{{ user.username }}</span>
        
        <button (click)="logout()" class="btn-logout">Cerrar sesión</button>

      </div>

      <ng-template #loggedOut>
        <a routerLink="/auth/login" class="btn-login">Inicio de sesión</a>
      </ng-template>

    </div>
  </div>
</nav>