/* Estilos del navbar */
.navbar {
  /* Estilos pendientes */
}

.navbar-container {
  /* Estilos pendientes */
}

.navbar-logo {
  /* Estilos pendientes */
}

.navbar-menu {
  /* Estilos pendientes */
}
