<section class="landing">
  <div class="hero-section">
    <div class="hero-content">
      <div class="hero-text">
        <div class="hero-badges">
          <span class="badge">Crea tu propio torneo</span>
          <span class="badge">¡No te lo pierdas!</span>
        </div>
        <h1 class="hero-title">
          El deporte digital ha llegado! ¿Estás listo para el siguiente nivel?
        </h1>
        
        <p class="hero-description">
          Tu plataforma central para competencias de eSports y deportes.
        </p>
        
        <div class="hero-actions">
          <a routerLink="/auth/register" class="btn btn-primary">Empezar →</a>
        </div>
      </div>
      
      <div class="hero-image">
        <div class="image-placeholder">
          <img src="assets/images/header.png" alt="Jugadores compitiendo" class="players-image">
        </div>
      </div>
    </div>
  </div>

  <div class="features-section">
    <div class="feature-card">
      <div class="feature-header">
        <div class="feature-icon">
          <img src="assets/icons/gift.svg" alt="Icono de regalo" class="icon">
        </div>
        <h3 class="feature-number">01.</h3>
      </div>
      <h4 class="feature-title">Usar Gratis</h4>
      <p class="feature-description">
        ¡Listo para usar! Puedes comenzar a usarlo inmediatamente, sin necesidad de registrar tu información financiera.
      </p>
      <a routerLink="/auth/register" class="btn btn-secondary">Regístrate →</a>
    </div>

    <div class="feature-card">
      <div class="feature-header">
        <div class="feature-icon">
          <img src="assets/icons/trophy.svg" alt="Icono de trofeo" class="icon">
        </div>
        <h3 class="feature-number">02.</h3>
      </div>
      <h4 class="feature-title">Tabla de Posiciones y Rankings</h4>
      <p class="feature-description">
        Tablas y rankings de jugadores automáticamente calculadas, goleadores y rankings. Disponible para varias modalidades deportivas.
      </p>
      <a routerLink="/tournaments/list" class="btn btn-secondary">Ranking →</a>
    </div>

    <div class="feature-card">
      <div class="feature-header">
        <div class="feature-icon">
          <img src="assets/icons/settings.svg" alt="Icono de engranaje" class="icon">
        </div>
        <h3 class="feature-number">03.</h3>
      </div>
      <h4 class="feature-title">Aplicación Flexible</h4>
      <p class="feature-description">
        Interfaz simple y práctica para crear campeonatos con más de una categoría y con diferentes modelos de fases y rondas.
      </p>
      <a routerLink="/tournaments/create" class="btn btn-secondary">Crear Torneo →</a>
    </div>
  </div>

  <div class="info-section">
    <h2 class="info-title">Todo para organizar tus torneos!</h2>
    <p class="info-description">
      Nuestro objetivo principal es ayudar a los organizadores e interesados a gestionar sus campeonatos permitiéndoles publicar tablas, resultados de partidos, fotos y vídeos para que los participantes y espectadores puedan seguir e interactuar con los resultados.
    </p>
    <a href="#" class="btn btn-accent">Empieza Ya →</a>
  </div>
  

  
 <section class="showcase-grid">

  <div class="grid-col-left">
    
    <div class="grid-card card-hub">
      <h3>Creación de Torneos</h3>
      <p>Crea y gestiona tus torneos de deportes fácilmente. Desde las clasificaciones hasta el registro, potencia a tu equipo y conecta con tu público.</p>
      <a routerLink="/tournaments/create" class="feature-tournament-button feature-tournament-button-primary">Crear un propio torneo →</a>
    </div>

    <div class="grid-card card-image-large">
      <div class="image-placeholder" style="background-image: url('assets/images/Background-card-volley.png');">
        <span class="card-icon-plus">+</span>
      </div>
      <div class="card-content">
        <h4>Deportes y e-sports</h4>
        <p>Disfruta de los campeonatos tanto deportivos como e-sports, elige la modalidad que más te guste.</p>
      </div>
    </div>

    <div class="grid-card card-image-large">
      <div class="image-placeholder" style="background-image: url('assets/images/Background-card-sports.png');">
        <span class="card-icon-plus">+</span>
      </div>
      <div class="card-content">
        <h4>Sistema de equipos o individual</h4>
        <p>Únete a un equipo de la categoría que más te guste.</p>
      </div>
    </div>

  </div>

  <div class="grid-col-right">

    <div class="grid-card card-events">
      <div class="card-header">
        <h4>Torneos y eventos</h4>
        </div>
      <div class="events-scroll-container">
        
        <div class="event-mini-card">
          <div class="event-image" style="background-image: url('assets/images/Card-cod.png');"></div>
          <h5>Call of Duty: Combat Challenge</h5>
          <div class="event-details">
            <span>📅 17 Dic - 17 Ene</span>
            <span>🕒 7PM - 9PM</span>
          </div>
        </div>
        
        <div class="event-mini-card">
          <div class="event-image" style="background-image: url('assets/images/Card-valorant.png');"></div>
          <h5>Apex Legends: Champion Quest - $20</h5>
          <div class="event-details">
            <span>📅 14 Dic 2023</span>
            <span>🕒 2PM - 7PM</span>
          </div>
        </div>

        <div class="event-mini-card">
          <div class="event-image" style="background-image: url('assets/images/Background-card-play.avif');"></div>
          <h5>Liga Anual de Volleybol</h5>
          <div class="event-details">
            <span>📅 20 Dic - 30 Ene</span>
            <span>🕒 5PM - 10PM</span>
          </div>
        </div>

      </div>
    </div>

    <div class="grid-card card-image-small">
      <div class="image-placeholder" style="background-image: url('assets/images/Background-card-trofeo.png');"></div>
      <div class="card-content">
        <h4>Fotos, noticias y resultados</h4>
        <p>Visualiza la información más importante de los torneos.</p>
      </div>
    </div>

  <div class="grid-card card-image-large">
      
      <div class="image-placeholder" style="background-image: url('assets/images/Background-card-dash.png');">
        </div>

      <div class="card-content">
        <h4>Gestiona tus torneos</h4>
        <p>Monitorea tu torneo con estadísticas. Sigue tu progreso, asciende en la clasificación y conviértete en un talento codiciado.</p>
      </div>
    </div>
  </div>

</section>
    <div class="feature-tournaments">
        
        <div class="feature-tournaments-header">
            <h1 class="feature-tournament-title">Torneos Destacados</h1>
            <a href="/tournaments/list" class="feature-tournament-button feature-tournament-button-primary">
                Todos los Torneos→ 
            </a>
        </div>
        
        <p class="feature-tournament-description">Unete a tu Juego/Deporte favorito! </p>
        
        <div class="feature-tournament-section">
            <div class="feature-tournament-card card-volley">
                <div class="card-date-overlay">
                    <span class="date-dot"></span>
                    <span class="date-text">Aug 12 – Aug 29</span>
                    <span class="date-year">2025</span>
                </div>
                <div class="card-content">
                    <h1 class="card-title">Volleyball 6 vs 6</h1>
                    <p class="card-description">Compite con tu equipo para ganar hasta $5,000 Mx!</p>
                </div>
            </div>

            <div class="feature-tournament-card card-cod">
                <div class="card-date-overlay">
                    <span class="date-dot"></span>
                    <span class="date-text">Jul 20 – Aug 10</span>
                    <span class="date-year">2025</span>
                </div>
                <div class="card-content">
                    <h1 class="card-title">Call of Duty: Combat Challenge</h1>
                    <p class="card-description">Despliégate y conquista el campo de batalla para ganar hasta $ !</p>
                </div>
            </div>

            <div class="feature-tournament-card card-valorant">
                <div class="card-date-overlay">
                    <span class="date-dot"></span>
                    <span class="date-text">Sep 5 – Sep 25</span>
                    <span class="date-year">2025</span>
                </div>
                <div class="card-content">
                    <h1 class="card-title">Apex Legends:Champions Quest</h1>
                    <p class="card-description">La batalla te espera, gana hasta $20,000 Mx</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="leaderboard">
  
  <div class="leaderboard-container">
    <div class="leaderboard-header">
      <h2>Campeones de la Arena</h2>
      <p>Conoce los mejores equipos competitivos</p>
    </div>

    <div class="leaderboard-list">
      
      <div class="list-header">
        <div>Rank</div>
        <div class="header-name">Leaders name</div>
        <div>Win Rate <span>▾</span></div>
        <div>Torneos Ganados <span>▾</span></div>
        <div>Top 3 Finishes <span>▾</span></div>
        <div>Top 8 Finishes <span>▾</span></div>
      </div>

      <div class="list-row">
        <div class="rank-cell">
          <img src="/assets/images/fisrts place.png" alt="Rank 1" class="rank-icon">
        </div>
        <div class="team-cell">
          <img src="/assets/images/Team-Queso-logo.png" alt="TeamQueso logo" class="team-logo">
          <span>TeamQueso</span>
        </div>
        <div class="win-rate">89%</div>
        <div>11</div>
        <div>7</div>
        <div>0</div>
      </div>

      <div class="list-row">
        <div class="rank-cell">
          <img src="/assets/images/second place.png" alt="Rank 2" class="rank-icon">
        </div>
        <div class="team-cell">
          <img src="/assets/images/Chivas-ESport-Logo.png" alt="Chivas e-sport logo" class="team-logo">
          <span>Chivas e-sport</span>
        </div>
        <div class="win-rate">88%</div>
        <div>2</div>
        <div>7</div>
        <div>4</div>
      </div>

      <div class="list-row">
        <div class="rank-cell">
          <img src="/assets/images/third place.png" alt="Rank 3" class="rank-icon">
        </div>
        <div class="team-cell">
          <img src="/assets/images/Pelusa-Caligari-Logo.png" alt="Pelusa Caligari logo" class="team-logo">
          <span>Pelusa Caligari</span>
        </div>
        <div class="win-rate">87%</div>
        <div>7</div>
        <div>7</div>
        <div>1</div>
      </div>
      
      <div class="list-row">
        <div class="rank-cell">4</div>
        <div class="team-cell">
          <img src="/assets/images/Cruz-Azul-Logo.png" alt="Cruz azul logo" class="team-logo">
          <span>Cruz Azul</span>
        </div>
        <div class="win-rate">83%</div>
        <div>9</div>
        <div>7</div>
        <div>6</div>
      </div>

            <div class="list-row">
        <div class="rank-cell">5</div>
        <div class="team-cell">
          <img src="/assets/images/T1-Logo.png" alt="Cruz azul logo" class="team-logo">
          <span>Cruz Azul</span>
        </div>
        <div class="win-rate">83%</div>
        <div>9</div>
        <div>7</div>
        <div>6</div>
      </div>

   <div class="list-row">
        <div class="rank-cell">6</div>
        <div class="team-cell">
          <img src="/assets/images/Pumas-Logo.png" alt="Cruz azul logo" class="team-logo">
          <span>Cruz Azul</span>
        </div>
        <div class="win-rate">80%</div>
        <div>1</div>
        <div>7</div>
        <div>8</div>
      </div>

  <div class="list-row">
        <div class="rank-cell">7</div>
        <div class="team-cell">
          <img src="/assets/images/Barcelona-Logo.png" alt="Barcelona logo" class="team-logo">
          <span>Cruz Azul</span>
        </div>
        <div class="win-rate">80%</div>
        <div>1</div>
        <div>7</div>
        <div>8</div>
      </div>

  <div class="list-row">
        <div class="rank-cell">8</div>
        <div class="team-cell">
          <img src="/assets/images/Hamster-Logo.png" alt="Hamster Logo" class="team-logo">
          <span>Cruz Azul</span>
        </div>
        <div class="win-rate">75%</div>
        <div>0</div>
        <div>7</div>
        <div>0</div>
      </div>

 
      </div>
    </div>
    <section class="cta-section">
    <div class="cta-card">
      <div class="cta-content">
        <h2>Comienza tu viaje hacia la gloria</h2>
        <p>Ya sea que estés aquí para dejar tu marca como un organizador legendario o para ascender en la clasificación como un competidor campeón; tu camino comienza con un solo clic.</p>
        <div class="cta-actions">
          <a routerLink="/tournaments/create" class="btn btn-primary cta-btn-create">Crear torneo <i class="ph ph-arrow-right"></i></a>
          <a routerLink="/tournaments" class="feature-tournament-button feature-tournament-button-primary">Únete a una competición <i class="ph ph-arrow-right"></i></a>
        </div>
      </div>
      <div class="cta-image-container">
      </div>
    </div>
  </section>


</section>
